body {
  	font-family: "Comic Sans MS";
	font-size: 10px;
    background-color: #262223;
    text-align: center;
	color:#DDC6B6;
}

img {
    width: 400px;
}
h4 {
	font-family: "Comic Sans MS";
	font-size:20px;
}
result {
	font-family: "Comic Sans MS";
	font-size:10px;
}

